rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and admin write for news
    match /news/{document=**} {
      allow read, write: if true;
    }

    // Allow public read and admin write for ticker messages
    match /tickerMessages/{document=**} {
      allow read, write: if true;
    }
  }
}
