rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Esta regla permite a cualquiera leer y escribir en tu base de datos.
    // Es útil para empezar, pero es insegura para producción.
    // Asegúrate de configurar reglas más seguras antes de lanzar tu aplicación.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
