
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to the news collection
    match /news/{document=**} {
      allow read, write: if true;
    }

    // Allow read and write access to the ticker messages collection
    match /tickerMessages/{document=**} {
      allow read, write: if true;
    }
  }
}
